/* editor css */
root {
	--ck-image-style-spacing: 1.5em;
}

.image {
	display: table;
	clear: both;
	text-align: center;
	/* Make sure there is some space between the content and the image. Center image by default. */
	margin: 1em auto;
}

.image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	min-width: 50px;
}

.image-style-side,
.image-style-align-left,
.image-style-align-center,
.image-style-align-right {
	max-width: 50%;
}

.image-style-side {
	float: right;
	margin-left: var(--ck-image-style-spacing);
}

.image-style-align-left {
	float: left;
	margin-right: var(--ck-image-style-spacing);
}

.image-style-align-center {
	margin-left: auto;
	margin-right: auto;
}

.image-style-align-right {
	float: right;
	margin-left: var(--ck-image-style-spacing);
}

.image figcaption {
	display: table-caption;
	caption-side: bottom;
	word-break: break-word;
	color: hsl(0, 0%, 20%);
	background-color: hsl(0, 0%, 97%);
	padding: .6em;
	font-size: .75em;
	outline-offset: -1px;
}
