.richbox{
     padding:10px;
     border:1px solid #0A5B0F;
     min-height:420px;
}

.Information
{
    border:1px solid #0A5B0F;
    margin:0px 0px 10px 0px;
    text-align:left;
}

.InformationTitle
{
     color:#0A5B0F;
     background-color:#d0e0d8;
     border-bottom:1px solid #0A5B0F;
     text-align:left;
     padding:5px;
     margin:0px;
     font-family: Georgia, serif;
     font-size:16px; 
     color:#006600; 
     font-weight:bold;
}

.InfomationRich
{
    margin:0px;
    padding:5px;
}
