/* 对账单样式 **********/

/* 对账单表格 */
.statementTable{
    background-color:#999999;
    font-family:Microsoft YaHei,SimHei,SimSun;
    margin-bottom:10px;
}
/* 对账单 表格头 */
.statementTDTitle{
    background-color:#EFEFEF;
    font-size:15px; 
    color:#000000;
    padding:20px;
    text-align:center;
    font-weight:bold;
}
/* 对账单 表格列  */
.statementTDDate{
    background-color: #FFFFFF;
    padding:10px 20px 10px 20px;
    color:#000000;
    text-align:center;
}
